<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Live Bus Map + 3D Buildings</title>

  <script src="https://api.mapbox.com/mapbox-gl-js/v3.18.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.18.1/mapbox-gl.css" rel="stylesheet" />

  <style>
    body { margin: 0; }
    #map { width: 100vw; height: 100vh; }
  </style>
</head>
<body>

<div id="map"></div>

<script>
  //generated webpage above

  //mapbox key
mapboxgl.accessToken = "{{key}}";

//define map box map with center being based on Burnaby
const map = new mapboxgl.Map({
  container: "map",
  style: "mapbox://styles/mapbox/streets-v12",
  center: [-122.98, 49.25],
  zoom: 12,
  pitch: 60,
  bearing: -20,
  antialias: true
});

//generate objects on load
map.on("load", () => {

  // -----------------------------
  // Add GTFS Bus Positions Layer
  // -----------------------------
  map.addSource("buses", {
    type: "geojson",
    data: "/vehicles.geojson"
  });

  map.addLayer({
    id: "bus-points",
    type: "circle",
    source: "buses",
    paint: {
      "circle-radius": 7,
      "circle-color": "#007cbf",
      "circle-stroke-width": 3,
      "circle-stroke-color": "#ffffff"
    }
  });

  const popup = new mapboxgl.Popup({
      closeButton: false,
      closeOnClick: false
  });

  // show popup on mouse hover
  map.addInteraction('places-mouseenter-interaction', {
      type: 'mouseenter',
      target: { layerId: 'bus-points' },
      handler: (e) => {
          map.getCanvas().style.cursor = 'pointer';

          // Copy the coordinates from the POI underneath the cursor
          const coordinates = e.feature.geometry.coordinates.slice();
          const description = e.feature.properties.vehicle_id;

          // Populate the popup and set its coordinates based on the feature found.
          popup.setLngLat(coordinates).setHTML(description).addTo(map);
      }
  });

  // clear popup when mouse no longer hovering
  map.addInteraction('places-mouseleave-interaction', {
      type: 'mouseleave',
      target: { layerId: 'bus-points' },
      handler: () => {
          map.getCanvas().style.cursor = '';
          popup.remove();
      }
  });

  // Auto-refresh buses every .1 seconds
  setInterval(() => {
    map.getSource("buses").setData("/vehicles.geojson");
  }, 1000);

  // -----------------------------
  // Enable 3D Buildings
  // -----------------------------

  const layers = map.getStyle().layers;
  let labelLayerId;

  for (const layer of layers) {
    if (layer.type === "symbol" && layer.layout["text-field"]) {
      labelLayerId = layer.id;
      break;
    }
  }

  map.addLayer(
    {
      id: "3d-buildings",
      source: "composite",
      "source-layer": "building",
      filter: ["==", "extrude", "true"],
      type: "fill-extrusion",
      minzoom: 15,
      paint: {
        "fill-extrusion-color": "#aaa",
        "fill-extrusion-height": ["get", "height"],
        "fill-extrusion-base": ["get", "min_height"],
        "fill-extrusion-opacity": 0.6
      }
    },
    labelLayerId
  );

});
</script>

</body>
</html>
